<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="../public/styles/products.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="search-box mt-5 mb-5">
        <input
          type="text"
          name="searchBox"
          class="search"
          id="searchBoxId"
          placeholder="What are you looking for?"
        />
        <button type="submit" class="searth-btn">
          <span class="material-icons icons"> search </span>
        </button>
      </div>
      <div class="parent">
        <div class="card">
          <div>
            <img
              src="../public/assets/shoe_1.jpg"
              width="150px"
              height="150px"
            />
          </div>
          <h1>Product Title</h1>
          <h2>$000,00</h2>
        </div>
        <div class="card">
          <div>
            <img
              src="../public/assets/shoe_1.jpg"
              width="150px"
              height="150px"
            />
          </div>
          <h1>Product Title</h1>
          <h2>$000,00</h2>
        </div>
        <div class="card">
          <div>
            <img
              src="../public/assets/shoe_1.jpg"
              width="150px"
              height="150px"
            />
          </div>
          <h1>Product Title</h1>
          <h2>$000,00</h2>
        </div>
      </div>
    </div>
  </body>
</html>
