<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Product Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/product.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
  </head>
  <body onload="prepare()">
    <div class="card-wrapper">
      <div class="card">
        <!-- card left -->
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <img src="/assets/shoe_1.jpg" alt="shoe image" />
              <img src="/assets/shoe_2.jpg" alt="shoe image" />
              <img src="/assets/shoe_3.jpg" alt="shoe image" />
            </div>
          </div>
          <div class="img-select">
            <div class="img-item">
              <a href="#" data-id="1">
                <img src="/assets/shoe_1.jpg" alt="shoe image" />
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="2">
                <img src="/assets/shoe_2.jpg" alt="shoe image" />
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="3">
                <img src="/assets/shoe_3.jpg" alt="shoe image" />
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class="product-content">
          <h2 class="product-title">{{productName}}</h2>
          <div class="product-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4.7(21)</span>
          </div>

          <div class="product-price">
            <p class="new-price">Price: <span>{{productPrice}}</span></p>
          </div>

          <div class="product-detail">
            <h2>about this item:</h2>
            <p>{{productDesc}}</p>
            <ul>
              <li>Size: <span>{{productSize}}</span></li>
              <li>Color: <span>{{productColor}}</span></li>
              <li>Material: <span>{{productMaterial}}</span></li>
              <li>In stock: <span>{{productStock}}</span></li>
            </ul>
          </div>

          <div class="purchase-info">
            <input type="number" min="0" value="1" />
            <button type="button" class="btn" id="addToCartButton">
              {{cartLabel}} <i class="fas fa-shopping-cart"></i>
            </button>
            <button type="button" class="btn" id="favButton">
              {{favoritesLabel}} <i class="fas fa-star"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function prepare() {
        const addToCartButton = document.getElementById("addToCartButton");
        const favButton = document.getElementById("favButton");
        const token = getCookie("jwt");

        if (token) {
          favButton.addEventListener("click", (event) => {
            if (favButton.innerHTML.match("Remove from favorites")) {
              removeFromFavorites();
              favButton.innerHTML = `Add to favorites <i class="fas fa-star"></i>`;
            } else if (favButton.innerHTML.match("Add to favorites")) {
              addToFavorites();
              favButton.innerHTML = `Remove from favorites <i class="fas fa-star"></i>`;
            }
          });

          addToCartButton.addEventListener("click", (event) => {
            if (addToCartButton.innerHTML.match("Add to cart")) {
              addToCart();
              addToCartButton.innerHTML = `Show cart <i class="fas fa-shopping-cart"></i>`;
            } else if (addToCartButton.innerHTML.match("Show cart")) {
              location.assign("/cart");
            }
          });
        } else {
          favButton.addEventListener("click", (event) => {
            location.assign("/login");
          });
          addToCartButton.addEventListener("click", (event) => {
            location.assign("/login");
          });
        }
      }
    </script>
    <script>
      const favButton = document.getElementById("favButton");

      async function addToFavorites() {
        const productId = document.URL.split("/")[4];
        await fetch("/updatefavorites/" + productId, {
          method: "POST",
        });
      }

      async function removeFromFavorites() {
        const productId = document.URL.split("/")[4];
        await fetch("/updatefavorites/" + productId, {
          method: "DELETE",
        });
      }

      async function addToCart() {
        const productId = document.URL.split("/")[4];
        const currentCart = getCookie("cart");

        if (!currentCart) {
          createCookie("cart", productId, 30);
        } else {
          await createCookie("cart", currentCart + ", " + productId, 30);
          console.log(currentCart.split(","));
        }
      }
    </script>
    <script>
      function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(";");
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == " ") {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      function createCookie(name, value, days) {
        var expires;
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toGMTString();
        } else {
          expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
      }
    </script>
    <script>
      const imgs = document.querySelectorAll(".img-select a");
      const imgBtns = [...imgs];
      let imgId = 1;

      imgBtns.forEach((imgItem) => {
        imgItem.addEventListener("click", (event) => {
          event.preventDefault();
          imgId = imgItem.dataset.id;
          slideImage();
        });
      });

      function slideImage() {
        const displayWidth = document.querySelector(
          ".img-showcase img:first-child"
        ).clientWidth;

        document.querySelector(".img-showcase").style.transform = `translateX(${
          -(imgId - 1) * displayWidth
        }px)`;
      }

      window.addEventListener("resize", slideImage);
    </script>
  </body>
</html>
