@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Courgette");
.bg-mattBlackLight {
  background-color: #fff;
}

.navbar-brand {
  color: #6c63ff !important;
  font-weight: 600 !important;
}

.errortext {
  color: red;
  display: none;
}

.errortext1 {
  color: red;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2;
  border-color: #6c63ff !important;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
  padding: 0px !important;
  color: #495057;
  height: auto;
  border-radius: 0;
  background-color: #d8d8d8;
  background-clip: padding-box;
}

h1 {
  color: #6c63ff !important;
}

.form-control:focus {
  color: #495057;
  background-color: #d8d8d8;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.btn-class {
  border-color: #6c63ff;
  color: #6c63ff;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-class:hover {
  background-color: #6c63ff;
  color: white;
}

.text-mattBlackLight {
  color: #fff;
}

.title {
  color: #6c63ff !important;
}

.nav-link:hover,
.nav-link.active {
  background-color: #d8d8d8;
}

.active {
  background-color: #d8d8d8 !important;
  color: #6c63ff !important;
}

.bg-mattBlackDark,
body {
  background-color: #e7e7e7;
}

.text-mattBlackDark {
  color: #c0c0c0;
}

.bg-mattGray {
  background-color: #6c63ff;
}

.text-mattGray,
body,
.nav-link .icon,
.nav-link .text {
  color: #878d8d;
}

.bg-mattRed {
  background-color: #6c63ff;
}

.text-mattRed,
.nav-link:hover .icon,
.nav-link:hover .text,
.nav-link.active .icon,
.nav-link.active .text {
  color: #6c63ff;
}

* {
  font-family: "Poppins", sans-serif;
}

button[id="deleteButton"] {
  background: none;
  color: #007bff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[id="avatar"] {
  opacity: 0;
  position: absolute;
}

#avatarImageID {
  cursor: pointer;
}

body {
  height: 1000px;
}

.wrapper {
  margin-top: 3.5rem;
}

.wrapper .sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 3.5rem auto auto;
  left: 0;
  width: 12.5rem;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 2000;
}

.wrapper .content {
  width: 100%;
  margin-left: 0rem;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: block;
  white-space: nowrap;
}

.nav-link .icon {
  margin-right: 0.25rem;
  font-size: 1.875rem;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link .text {
  font-size: 0.875rem;
}

@media (min-width: 992px) {
  .wrapper .sideMenu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .wrapper .content {
    margin-left: 12.5rem;
  }
  .wrapper.active .sideMenu {
    width: 5rem;
  }
  .wrapper.active .sideMenu .nav-link {
    text-align: center;
  }
  .wrapper.active .sideMenu .nav-link .icon {
    margin-right: 0;
  }
  .wrapper.active .sideMenu .nav-link .text {
    display: none;
  }
  .wrapper.active .content {
    margin-left: 5rem;
  }
}

.shadow {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06) !important;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
}

.img-circle {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.social-links a {
  transition: all 0.2s;
}
.social-links a img {
  height: 30px;
}
.social-links a:hover {
  transform: translateY(-3px);
}
