<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/dash.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top"
    >
      <button class="navbar-toggler sideMenuToggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">Martins Websites</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
    </button>
    </nav>
    <div class="wrapper d-flex">
      <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/dashboard/user" class="nav-link px-2">
                <i class="material-icons icon"> person </i>
                <span class="text">Manage profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 active">
                <i class="material-icons icon active"> local_mall </i>
                <span class="text">Create product</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/editproduct" class="nav-link px-2">
                <i class="material-icons icon"> edit </i>
                <span class="text">Edit product</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/discounts" class="nav-link px-2">
                <i class="material-icons icon"> local_offer </i>
                <span class="text">Manage discounts</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <main>
          <div class="container mt-5">
            <h1>Create a product</h1>
            <div class="col mt-2">
              <div class="errortext text-center" id="errorMessageDiv">
                <p class="errorMessage mb-2" id="errorMessageText">a</p>
              </div>
              <form
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group mb-3">
                  <label for="productName">Name</label>
                  <input type="text" name="productName" class="form-control" />
                </div>
                <div class="form-group mb-3">
                  <label for="productName">Description</label>
                  <input type="text" name="productDesc" class="form-control" />
                </div>
                <div class="form-group mb-3">
                  <label for="productPrice">Price</label>
                  <input type="number" name="productPrice" class="form-control" />
                </div>
                <div class="form-group mb-3">
                  <label for="productSize">Size</label>
                  <input type="text" name="productSize" class="form-control" />
                </div>
                <div class="form-group mb-3">
                  <label for="productColor">Color</label>
                  <input type="text" name="productColor" class="form-control" />
                </div>
                <div class="form-group mb-3">
                  <label for="productMaterial">Material</label>
                  <input
                    type="text"
                    name="productMaterial"
                    class="form-control"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="productSection">Section</label>
                  <input
                    type="text"
                    name="productSection"
                    class="form-control"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="productStock">Stock</label>
                  <input
                    type="number"
                    name="productStock"
                    class="form-control"
                  />
                </div>
                <div class="button text-center">
                  <input type="submit" class="btn btn-class"></input>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const productName = form.productName.value;
        const productDesc = form.productDesc.value;
        const productPrice = form.productPrice.value;
        const productSize = form.productSize.value;
        const productColor = form.productColor.value;
        const productMaterial = form.productMaterial.value;
        const productSection = form.productSection.value;
        const productStock = form.productStock.value;

        try {
          const res = await fetch("/dashboard/createproduct", {
            method: "POST",
            body: JSON.stringify({
              productName,
              productDesc,
              productPrice,
              productSize,
              productColor,
              productMaterial,
              productSection,
              productStock,
            }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data.error) {
            document.getElementById("errorMessageDiv").style.display = "block";
            document.getElementById("errorMessageText").textContent =
              data.error;
          } else if (data.message == "Product created") {
            form.reset();
            document.getElementById("errorMessageDiv").style.display = "block";
            document.getElementById("errorMessageText").style.color = "#33cc33";
            document.getElementById("errorMessageText").textContent =
              data.message;

            setTimeout(() => {
              document.getElementById("errorMessageText").textContent = "";
            }, 3000);
          }
        } catch (error) {}
      });
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
      integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"
      integrity="sha256-qE/6vdSYzQu9lgosKxhFplETvWvqAAlmAuR+yPh/0SI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
